body {
  background-color:grey;

}

#wrapper{
  width:820px;
  background-color:white;
  margin-left: auto;
  margin-right: auto;

}

#header {
  background-color: blue;
  color: white;
  font-size:35px;
  font-family:sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
}

#logo {
  float: left;
  padding-top:40px;
  padding-left:100px;
  padding-right:125px;
}

#nav {
  background-color:red;
  color:white;
  font-family:sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom:lightgrey 8px solid;
  border-top: lightgrey 8px solid;
}

#nav li{
  display:inline;
  padding-right: 15px;
}

#main_copy {
  padding-left:20px;
  padding-right:25px;
  width:500px;
  float:left;
  border-right:red 5px solid;
}

#main_copy h1{
  text-align:center;
  color:red;
}
#main_copy h2{
  color:blue;
}

#column {
  width:250px;
  float:right;
  padding-right:10px;
  padding-left:10px;
  padding-top:65px;
  font-family:sans-serif;
}

#column h2 {
  color:green;
}

#footer {
  color: white;
  background-color: black;
  text-align:center;
  font-family:sans-serif;
  font-size:10px;
  padding-top:15px;
  padding-bottom:15px;
  clear:both;
}
