body {
  background-color:white;
  text-align:center;

  }

h1 {
  color:blue;
  font-size:50px;
  background-color:lightgray;
  text-align:center;
}

h5 {
  color:blue;
  font-size:20px;
}

#wrapper {
  width: 450px;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
}

* {
  box-sizing:border-box;
}

.column {
  float:left;
  width:33.33%;
  padding:5px;
}

.row::after {
  content:"";
  clear:both;
  display:table;
}

.icon-bar {
  width:100%;
  background-color:lightgray;
  overflow:auto;
}

.icon-bar a {
  float:center;
  width:10%;
  text-align:auto;
  padding:12px 0;
  transition:all 0.3s ease;
  font-size:20px;
}

.icon-bar a:hover {
  background-color:#000;
}

.active {
  background-color:blue;
}

* {
  box-sizing:border-box;
}

.row {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin:0 -16px;
}

.col-25 {
  -ms-flex:25%;
  flex:25%;
}

.col-50 {
  -ms-flex:50%;
  flex:50%;
}

.col-75 {
  -ms-flex:75%;
  flex:75%;
}

.col-25,
.col-50,
.col-75 {
  padding:0 16px;
}

.container {
  background-color:#f2f2f2;
  padding:5px 20px 15px 20px;
  border:1px solid lightgray;
  border-radius:3px;
}

input[type=text] {
  width:100%;
  margin-bottom:20px;
  padding:12px;
  border:1px solid #ccc;
  border-radius:3px;
}

label {
  margin-bottom:10px;
  display:block;
}

.icon-container {
  margin-bottom:20px;
  padding:7px 0;
  font-size:24px;
}

.btn {
  background-color:#4CAF50;
  color:white;
  padding:12px;
  margin:10px 0;
  border:none;
  width:100%;
  border-radius:3px;
  cursor:pointer;
  font-size:17px;
}

.btn:hover {
  background-color:#45a049;
}

a {
  color: #1296F3;
}

hr {
  border:1px solid lightgray;
}

span.price {
  float:right;
  color:gray;
}


}
